section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
h1{
  color: red;
}
input{
  border: 2px solid rgb(51, 202, 215);
  border-radius: 30px;
  padding: 20px;
}
button{
  padding: 20px;
  color: gray;
  background-color:wheat;
  border: 2px solid rgb(43, 187, 172);
  border-radius: 30px;
}
#result-div{
  color: rgb(7, 199, 58);
  font-size: large;
  font-weight: bolder;
}
#result-div2{
  color: red;
  font-size: large;
  font-weight: bolder;
}